In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import datetime

import requests

In [2]:
url_inflation_db = "https://github.com/matublaq/DataBases/raw/main/Inflation.db"
local_path = "Inflation.db"

response = requests.get(url_inflation_db)

if(response.status_code == 200):
    with open(local_path, 'wb') as file:
        file.write(response.content)
    print(f"Inflation database. Downloaded successfully. Status code {response.status_code}")
else:
    print(f"Inflation database. Download failed. Status code {response.status_code}")

################################################################################################################

url_stockmarket_db = "https://github.com/matublaq/DataBases/raw/main/StockMarket.db"
local_path = "StockMarket.db"

response = requests.get(url_stockmarket_db)

if(response.status_code == 200):
    with open(local_path, 'wb') as file:
        file.write(response.content)
    print(f"Stock market database. Downloaded successfully. Status code {response.status_code}")
else:
    print(f"Stock market database. Download failed. Status code {response.status_code}")

Inflation database. Downloaded successfully. Status code 200
Stock market database. Downloaded successfully. Status code 200

In [3]:
conn1 = sqlite3.connect('Inflation.db')
conn2 = sqlite3.connect('StockMarket.db')
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()


cursor1.execute("SELECT name FROM Countries")
countries = cursor1.fetchall()
countries = [country[0] for country in countries]

cursor2.execute("SELECT name FROM Companies")
companies = cursor2.fetchall()
companies = [company[0] for company in companies]


conn1.close()
conn2.close()

print(countries, "\n", companies)

['Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Australia', 'Austria', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bolivia', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Côte d'Ivoire", 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Rep.', 'Kuwait', 'Lao PDR', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'São Tomé and Principe', 'Saudi Arabia', 'Senegal', 'Seychelles', 'Sierra Leone', 'Singapore', 'South Africa', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Vanuatu', 'Venezuela, RB', 'Vietnam', 'Yemen, Rep.', 'Zambia', 'Zimbabwe', 'Afghanistan', 'Bhutan', 'Curacao', 'Syrian Arab Republic', 'Hong Kong SAR, China', 'Kiribati', 'Solomon Islands', 'Croatia', 'Lithuania', 'Puerto Rico', 'Slovenia', 'Cambodia', 'Macedonia, FYR', 'Slovak Republic', 'Albania', 'Azerbaijan', 'Estonia', 'Mongolia', 'Georgia', 'Kazakhstan', 'Kyrgyz Republic', 'Latvia', 'Moldova', 'Uzbekistan', 'Armenia', 'Eritrea', 'Tajikistan', 'Turkmenistan', 'New Caledonia', 'Bosnia and Herzegovina', 'Aruba', 'Micronesia, Fed. Sts.', 'Cayman Islands', 'West Bank and Gaza', 'Serbia', 'Macao SAR, China', 'Montenegro', 'Palau', 'Tuvalu', 'Montserratit', 'Kosovo', 'San Marino', 'Timor-Leste', 'Marshall Islands', 'Nauru', 'Saint Helena', 'Turks and Caicos Islands', 'Liechtenstein', 'South Sudan', 'British Virgin Islands', 'Martinique', 'Niue']
 ['Apple Inc.', 'Airbnb, Inc.', 'Adobe Inc.', 'Amazon.com, Inc.', 'Berkshire Hathaway Inc. New', 'Walt Disney Company (The)', 'Alphabet Inc.', 'Intel Corporation', 'Johnson & Johnson', 'JP Morgan Chase & Co.', 'Coca-Cola Company (The)', 'MercadoLibre, Inc.', 'Meta Platforms, Inc.', 'Microsoft Corporation', 'Netflix, Inc.', 'NVIDIA Corporation', 'Pepsico, Inc.', 'Procter & Gamble Company (The)', 'Banco Santander, S.A. Sponsored', 'Toyota Motor Corporation', 'Tesla, Inc.', 'Visa Inc.', 'YPF Sociedad Anonima']

<p style='font-size: 35px; text-align: center; color: violet;'>Functions</p>

In [4]:
def country_inflation(code):
    conn = sqlite3.connect('Inflation.db')
    cursor = conn.cursor()

    cursor.execute("SELECT id FROM Countries WHERE code = ?", (code,))
    id_usa = cursor.fetchall()[0]
    cursor.execute("SELECT year, inflation_rate FROM Inflation WHERE country_id = ?", id_usa)
    inflation = cursor.fetchall()

    conn.close()

    return pd.DataFrame(inflation, columns=['year', 'inflation_rate'])

def stock_quote_year_price(ticker):
    with sqlite3.connect('StockMarket.db') as conn:
        cursor = conn.cursor()

        cursor.execute("SELECT id FROM Companies WHERE ticker = ?", (ticker,))
        id_company = cursor.fetchall()[0]

        #Average price in dicember
        cursor.execute('''
                    SELECT strftime('%Y', date) as year, MAX(date) as max_date, close as price, volume
                    FROM Stock_quotes
                    WHERE company_id = ?
                    GROUP BY year
        ''', id_company)
        company_stock_year = cursor.fetchall()
        company_stock_year = pd.DataFrame(company_stock_year, columns=['year', 'max_date', 'price', 'volume'])
        company_stock_year.drop(columns=['max_date'], inplace=True)
        return company_stock_year

def price_inflation_adjusted(ticker, country_code):
    prices = stock_quote_year_price(ticker)
    inflations = country_inflation(country_code)
    prices['GROWTH'] = 0
    prices['real_price_adj'] = 0
    prices['inflation'] = 0
    prices['last_price_adj_inflation'] = 0

    today = datetime.datetime.now()
    for year in prices['year']:
        if year == str(today.year):
            prices.loc[prices['year'] == year, 'real_price_adj'] = prices.loc[prices['year'] == year, 'price']
            prices.loc[prices['year'] == year, 'inflation'] = prices.loc[prices['year'] == year, 'price']
            prices.loc[prices['year'] == year, 'last_price_adj_inflation'] = prices.loc[prices['year'] == year, 'price']
            return prices[['year', 'inflation', 'price', 'last_price_adj_inflation', 'real_price_adj', 'GROWTH']]
        
        inflation = inflations[inflations['year'] == int(year)]['inflation_rate'].values[0]

        if str(int(year)-1) in prices['year'].values:
            last_price = prices[prices['year'] == str(int(year)-1)]['price'].values[0]
            last_price_adj_inflation = last_price*((inflation/100) + 1)
            actual_price = prices[prices['year'] == year]['price'].values[0]
            
            diff_adj_actual = ((actual_price - last_price_adj_inflation)/last_price_adj_inflation)*100 #Creció o decreció.
            prices.loc[prices['year'] == year, 'GROWTH'] = diff_adj_actual.round(2)
            real_actual_price = last_price*((diff_adj_actual/100) + 1)
                         
            prices.loc[prices['year'] == year, 'real_price_adj'] = real_actual_price.round(3)
            prices.loc[prices['year'] == year, 'inflation'] = inflation
            prices.loc[prices['year'] == year, 'last_price_adj_inflation'] = last_price_adj_inflation.round(3)
        else:
            prices.loc[prices['year'] == year, 'real_price_adj'] = 0
            prices.loc[prices['year'] == year, 'inflation'] = 0
            prices.loc[prices['year'] == year, 'last_price_adj_inflation'] = 0

    return prices[['year', 'inflation', 'price', 'last_price_adj_inflation', 'real_price_adj', 'GROWTH']]

In [5]:
price_inflation_adjusted('AAPL', 'USA')

/var/folders/r3/_0ct4tcx0jj4q9jfbhwjb93m0000gn/T/ipykernel_1785/1559896110.py:57: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-40.97' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'GROWTH'] = diff_adj_actual.round(2)
/var/folders/r3/_0ct4tcx0jj4q9jfbhwjb93m0000gn/T/ipykernel_1785/1559896110.py:60: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.09' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'real_price_adj'] = real_actual_price.round(3)
/var/folders/r3/_0ct4tcx0jj4q9jfbhwjb93m0000gn/T/ipykernel_1785/1559896110.py:61: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '10.33' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'inflation'] = inflation
/var/folders/r3/_0ct4tcx0jj4q9jfbhwjb93m0000gn/T/ipykernel_1785/1559896110.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.168' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'last_price_adj_inflation'] = last_price_adj_inflation.round(3)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [6]:
inflations = country_inflation('USA')
inflations

    year  inflation_rate
0   1970            5.90
1   1971            4.29
2   1972            3.27
3   1973            6.18
4   1974           11.05
5   1975            9.14
6   1976            5.74
7   1977            6.50
8   1978            7.63
9   1979           11.25
10  1980           13.55
11  1981           10.33
12  1982            6.13
13  1983            3.21
14  1984            4.30
15  1985            3.55
16  1986            1.90
17  1987            3.66
18  1988            4.08
19  1989            4.83
20  1990            5.40
21  1991            4.23
22  1992            3.03
23  1993            2.95
24  1994            2.61
25  1995            2.81
26  1996            2.93
27  1997            2.34
28  1998            1.55
29  1999            2.19
30  2000            3.38
31  2001            2.83
32  2002            1.59
33  2003            2.27
34  2004            2.68
35  2005            3.39
36  2006            3.23
37  2007            2.85
38  2008            3.84
39  2009           -0.36
40  2010            1.64
41  2011            3.16
42  2012            2.07
43  2013            1.46
44  2014            1.62
45  2015            0.12
46  2016            1.26
47  2017            2.14
48  2018            2.44
49  2019            1.81
50  2020            1.23
51  2021            4.70
52  2022            8.00
53  2023            4.12

In [ ]:
prices = stock_quote_year_price('AAPL')
prices.columns

Index(['year', 'price', 'volume'], dtype='object')

In [ ]:
prices_inflation = price_inflation_adjusted('MSFT', 'USA')
prices_inflation

/var/folders/r3/_0ct4tcx0jj4q9jfbhwjb93m0000gn/T/ipykernel_2148/1559896110.py:57: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '116.48' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'GROWTH'] = diff_adj_actual.round(2)
/var/folders/r3/_0ct4tcx0jj4q9jfbhwjb93m0000gn/T/ipykernel_2148/1559896110.py:60: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.364' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'real_price_adj'] = real_actual_price.round(3)
/var/folders/r3/_0ct4tcx0jj4q9jfbhwjb93m0000gn/T/ipykernel_2148/1559896110.py:61: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '3.66' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'inflation'] = inflation
/var/folders/r3/_0ct4tcx0jj4q9jfbhwjb93m0000gn/T/ipykernel_2148/1559896110.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.174' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'last_price_adj_inflation'] = last_price_adj_inflation.round(3)

    year  inflation    price  last_price_adj_inflation  real_price_adj  GROWTH
0   1986       0.00    0.168                     0.000           0.000    0.00
1   1987       3.66    0.377                     0.174           0.364  116.48
2   1988       4.08    0.370                     0.392           0.355   -5.70
3   1989       4.83    0.604                     0.388           0.576   55.72
4   1990       5.40    1.045                     0.637           0.991   64.15
5   1991       4.23    2.318                     1.089           2.224  112.82
6   1992       3.03    2.668                     2.388           2.590   11.71
7   1993       2.95    2.520                     2.747           2.448   -8.25
8   1994       2.61    3.820                     2.586           3.723   47.73
9   1995       2.81    5.484                     3.927           5.334   39.64
10  1996       2.93   10.328                     5.645          10.034   82.97
11  1997       2.34   16.156                    10.570          15.787   52.85
12  1998       1.55   34.672                    16.406          34.143  111.33
13  1999       2.19   58.375                    35.431          57.124   64.76
14  2000       3.38   21.688                    60.348          20.979  -64.06
15  2001       2.83   33.125                    22.302          32.213   48.53
16  2002       1.59   25.850                    33.652          25.445  -23.18
17  2003       2.27   27.370                    26.437          26.762    3.53
18  2004       2.68   26.720                    28.104          26.023   -4.92
19  2005       3.39   26.150                    27.626          25.293   -5.34
20  2006       3.23   29.860                    26.995          28.926   10.61
21  2007       2.85   35.600                    30.711          34.614   15.92
22  2008       3.84   19.440                    36.967          18.721  -47.41
23  2009      -0.36   30.480                    19.370          30.590   57.36
24  2010       1.64   27.910                    30.980          27.460   -9.91
25  2011       3.16   25.960                    28.792          25.165   -9.84
26  2012       2.07   26.710                    26.497          26.168    0.80
27  2013       1.46   37.410                    27.100          36.872   38.04
28  2014       1.62   46.450                    38.016          45.710   22.19
29  2015       0.12   55.480                    46.506          55.414   19.30
30  2016       1.26   62.140                    56.179          61.367   10.61
31  2017       2.14   85.540                    63.470          83.748   34.77
32  2018       2.44  101.570                    87.627          99.151   15.91
33  2019       1.81  157.700                   103.408         154.896   52.50
34  2020       1.23  222.420                   159.640         219.717   39.33
35  2021       4.70  336.320                   232.874         321.223   44.42
36  2022       8.00  239.820                   363.226         222.056  -33.97
37  2023       4.12  376.040                   249.701         361.160   50.60
38  2024     425.20  425.200                   425.200         425.200    0.00

<p style="font-size: 25px; text-align: center;">Consultas generales</p>

In [ ]:
conn = sqlite3.connect('StockMarket.db')
cursor = conn.cursor()
########################################################


########################################################
conn.commit()
conn.close()