In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import datetime

import requests

In [4]:
url_inflation_db = "https://github.com/matublaq/DataBases/raw/main/Inflation.db"
local_path = "Inflation.db"

response = requests.get(url_inflation_db)

if(response.status_code == 200):
    with open(local_path, 'wb') as file:
        file.write(response.content)
    print(f"Inflation database. Downloaded successfully. Status code {response.status_code}")
else:
    print(f"Inflation database. Download failed. Status code {response.status_code}")

################################################################################################################

url_stockmarket_db = "https://github.com/matublaq/DataBases/raw/main/StockMarket.db"
local_path = "StockMarket.db"

response = requests.get(url_stockmarket_db)

if(response.status_code == 200):
    with open(local_path, 'wb') as file:
        file.write(response.content)
    print(f"Stock market database. Downloaded successfully. Status code {response.status_code}")
else:
    print(f"Stock market database. Download failed. Status code {response.status_code}")

Inflation database. Downloaded successfully. Status code 200
Stock market database. Downloaded successfully. Status code 200

In [5]:
conn1 = sqlite3.connect('Inflation.db')
conn2 = sqlite3.connect('StockMarket.db')
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()


cursor1.execute("SELECT name FROM Countries")
countries = cursor1.fetchall()
countries = [country[0] for country in countries]

cursor2.execute("SELECT name FROM Companies")
companies = cursor2.fetchall()
companies = [company[0] for company in companies]


conn1.close()
conn2.close()

print(countries, "\n", companies)

['Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Australia', 'Austria', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bolivia', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Côte d'Ivoire", 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Rep.', 'Kuwait', 'Lao PDR', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'São Tomé and Principe', 'Saudi Arabia', 'Senegal', 'Seychelles', 'Sierra Leone', 'Singapore', 'South Africa', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Vanuatu', 'Venezuela, RB', 'Vietnam', 'Yemen, Rep.', 'Zambia', 'Zimbabwe', 'Afghanistan', 'Bhutan', 'Curacao', 'Syrian Arab Republic', 'Hong Kong SAR, China', 'Kiribati', 'Solomon Islands', 'Croatia', 'Lithuania', 'Puerto Rico', 'Slovenia', 'Cambodia', 'Macedonia, FYR', 'Slovak Republic', 'Albania', 'Azerbaijan', 'Estonia', 'Mongolia', 'Georgia', 'Kazakhstan', 'Kyrgyz Republic', 'Latvia', 'Moldova', 'Uzbekistan', 'Armenia', 'Eritrea', 'Tajikistan', 'Turkmenistan', 'New Caledonia', 'Bosnia and Herzegovina', 'Aruba', 'Micronesia, Fed. Sts.', 'Cayman Islands', 'West Bank and Gaza', 'Serbia', 'Macao SAR, China', 'Montenegro', 'Palau', 'Tuvalu', 'Montserratit', 'Kosovo', 'San Marino', 'Timor-Leste', 'Marshall Islands', 'Nauru', 'Saint Helena', 'Turks and Caicos Islands', 'Liechtenstein', 'South Sudan', 'British Virgin Islands', 'Martinique', 'Niue']
 ['Apple Inc.', 'Airbnb, Inc.', 'Adobe Inc.', 'Amazon.com, Inc.', 'Berkshire Hathaway Inc. New', 'Alphabet Inc.', 'MercadoLibre, Inc.', 'Meta Platforms, Inc.', 'Microsoft Corporation', 'NVIDIA Corporation', 'Pepsico, Inc.', 'Banco Santander, S.A. Sponsored', 'Tesla, Inc.', 'YPF Sociedad Anonima']

<p style='font-size: 35px; text-align: center; color: violet;'>Functions</p>

In [18]:
def country_inflation(code):
    conn = sqlite3.connect('Inflation.db')
    cursor = conn.cursor()

    cursor.execute("SELECT id FROM Countries WHERE code = ?", (code,))
    id_usa = cursor.fetchall()[0]
    cursor.execute("SELECT year, inflation_rate FROM Inflation WHERE country_id = ?", id_usa)
    inflation = cursor.fetchall()

    conn.close()

    return pd.DataFrame(inflation, columns=['year', 'inflation_rate'])

def stock_quote_year_price(ticker):
    with sqlite3.connect('StockMarket.db') as conn:
        cursor = conn.cursor()

        cursor.execute("SELECT id FROM Companies WHERE ticker = ?", (ticker,))
        id_company = cursor.fetchall()[0]

        #Average price in dicember
        cursor.execute('''
                    SELECT strftime('%Y', date) as year, MAX(date) as max_date, close as price, volume
                    FROM Stock_quotes
                    WHERE company_id = ?
                    GROUP BY year
        ''', id_company)
        company_stock_year = cursor.fetchall()
        company_stock_year = pd.DataFrame(company_stock_year, columns=['year', 'max_date', 'price', 'volume'])
        company_stock_year.drop(columns=['max_date'], inplace=True)
        return company_stock_year

def price_inflation_adjusted(ticker, country_code):
    prices = stock_quote_year_price(ticker)
    inflations = country_inflation(country_code)
    prices['growth'] = 0

    today = datetime.datetime.now()
    for year in prices['year']:
        if year == str(today.year):
            return prices
        
        inflation = inflations[inflations['year'] == int(year)]['inflation_rate'].values[0]

        if str(int(year)-1) in prices['year'].values:
            last_price = prices[prices['year'] == str(int(year)-1)]['price'].values[0]
            price_adj_inflation = last_price*((inflation/100) + 1)
            actual_price = prices[prices['year'] == year]['price'].values[0]
            
            diff_adj_actual = ((actual_price - price_adj_inflation)/price_adj_inflation)*100 #Creció o decreció.
            prices.loc[prices['year'] == year, 'growth'] = diff_adj_actual
            real_actual_price = last_price*((diff_adj_actual/100) + 1)
                         
            prices.loc[prices['year'] == year, 'price'] = real_actual_price
        else:
            pass
            
    return prices

In [7]:
inflations = country_inflation('USA')
inflations

    year  inflation_rate
0   1970            5.90
1   1971            4.29
2   1972            3.27
3   1973            6.18
4   1974           11.05
5   1975            9.14
6   1976            5.74
7   1977            6.50
8   1978            7.63
9   1979           11.25
10  1980           13.55
11  1981           10.33
12  1982            6.13
13  1983            3.21
14  1984            4.30
15  1985            3.55
16  1986            1.90
17  1987            3.66
18  1988            4.08
19  1989            4.83
20  1990            5.40
21  1991            4.23
22  1992            3.03
23  1993            2.95
24  1994            2.61
25  1995            2.81
26  1996            2.93
27  1997            2.34
28  1998            1.55
29  1999            2.19
30  2000            3.38
31  2001            2.83
32  2002            1.59
33  2003            2.27
34  2004            2.68
35  2005            3.39
36  2006            3.23
37  2007            2.85
38  2008            3.84
39  2009           -0.36
40  2010            1.64
41  2011            3.16
42  2012            2.07
43  2013            1.46
44  2014            1.62
45  2015            0.12
46  2016            1.26
47  2017            2.14
48  2018            2.44
49  2019            1.81
50  2020            1.23
51  2021            4.70
52  2022            8.00
53  2023            4.12

In [8]:
prices = stock_quote_year_price('AAPL')
prices.columns

Index(['year', 'price', 'volume'], dtype='object')

In [9]:
year = '2020'
inflation = inflations[inflations['year'] == year]['inflation_rate']
last_price = prices[prices['year'] == str(int(year)-1)]['price'].values[0]
price_adj_inflation = last_price*((inflation/100) + 1)
actual_price = prices[prices['year'] == year]['price'].values[0]

diff_adj_actual = ((actual_price - price_adj_inflation)/price_adj_inflation)*100 #Creció o decreció.
prices.loc[prices['year'] == year, 'growth'] = diff_adj_actual
real_actual_price = last_price*((diff_adj_actual/100) + 1)
                
prices.loc[prices['year'] == year, 'price'] = real_actual_price

In [15]:
inflations[inflations['year'] == int(year)]['inflation_rate'].values[0]

1.23

In [19]:
prices_inflation = price_inflation_adjusted('AAPL', 'USA')
prices_inflation

C:\Users\matia\AppData\Local\Temp\ipykernel_30948\3268688500.py:51: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-40.966573962323544' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'growth'] = diff_adj_actual

    year       price      volume      growth
0   1980    0.152000    35750400    0.000000
1   1981    0.089731    54656000  -40.966574
2   1982    0.125318    49660800   39.659956
3   1983    0.105610    91862400  -15.726459
4   1984    0.124640   207760000   18.019650
5   1985    0.094640    87248000  -24.069383
6   1986    0.177625   132563200   87.684505
7   1987    0.361760   117600000  103.664658
8   1988    0.344927    81692800   -4.652985
9   1989    0.300487   152409600  -12.884025
10  1990    0.364326    44273600   21.245505
11  1991    0.482587   134030400   32.459964
12  1992    0.517325    92232000    7.198390
13  1993    0.253521   160966400  -50.993843
14  1994    0.339148    73091200   33.775136
15  1995    0.277210   304136000  -18.262765
16  1996    0.180705   383745600  -34.812929
17  1997    0.114325   406358400  -36.734131
18  1998    0.360414   271689600  215.254075
19  1999    0.898327   163811200  149.248828
20  2000    0.257303   630336000  -71.357506
21  2001    0.380239   137782400   47.778690
22  2002    0.251993   200726400  -33.727694
23  2003    0.373521   174451200   48.226585
24  2004    1.119984   278588800  199.845043
25  2005    2.483799   624262800  121.770872
26  2006    2.935193  1076429200   18.173532
27  2007    6.877978   539333200  134.327931
28  2008    2.935285   607541200  -57.323428
29  2009    7.553191   352410800  157.323952
30  2010   11.334120   193508000   50.057369
31  2011   14.020938   179662000   23.705571
32  2012   18.620555   659492400   32.805338
33  2013   19.747684   223084400    6.053146
34  2014   27.155088   165613600   37.510241
35  2015   26.283460   163649200   -3.209814
36  2016   28.594707   122345200    8.793541
37  2017   41.420599   103999600   44.854080
38  2018   38.495705   140014000   -7.061449
39  2019   72.106866   100805600   87.311457
40  2020  131.077744    99116600   81.782612
41  2021  169.598854    64062300   29.387987
42  2022  120.305556    77034200  -29.064641
43  2023  184.911640    42628800   53.701664
44  2024  229.000000    52958500    0.000000