In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import streamlit as st
import requests
import yfinance as yf
 
from Inflation_impact import *

Inflation database. Downloaded successfully. Status code 200
Stock market database. Downloaded successfully. Status code 200
['Afghanistan', 'Angola', 'United Arab Emirates', 'Argentina', 'Antigua and Barbuda', 'Australia', 'Austria', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The', 'Belarus', 'Belize', 'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Botswana', 'Central African Republic', 'Canada', 'Switzerland', 'Chile', 'China', "Côte d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt, Arab Rep.', 'Spain', 'Ethiopia', 'Finland', 'Fiji', 'France', 'Gabon', 'United Kingdom', 'Ghana', 'Guinea', 'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Honduras', 'Haiti', 'Hungary', 'Indonesia', 'India', 'Ireland', 'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kenya', 'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait', 'Lao PDR', 'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Sri Lanka', 'Lesotho', 'Luxembourg', 'Morocco', 'Madagascar', 'Maldives', 'Mexico', 'Mali', 'Malta', 'Myanmar', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Papua New Guinea', 'Poland', 'Portugal', 'Paraguay', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Sierra Leone', 'El Salvador', 'São Tomé and Principe', 'Suriname', 'Sweden', 'Swaziland', 'Seychelles', 'Chad', 'Togo', 'Thailand', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tanzania', 'Uganda', 'Ukraine', 'Uruguay', 'United States', 'St. Vincent and the Grenadines', 'Venezuela, RB', 'Vietnam', 'Vanuatu', 'Samoa', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe', 'Bhutan', 'Curacao', 'Syrian Arab Republic', 'Hong Kong SAR, China', 'Kiribati', 'Solomon Islands', 'Croatia', 'Lithuania', 'Puerto Rico', 'Slovenia', 'Cambodia', 'Macedonia, FYR', 'Slovak Republic', 'Albania', 'Azerbaijan', 'Estonia', 'Mongolia', 'Georgia', 'Kazakhstan', 'Kyrgyz Republic', 'Latvia', 'Moldova', 'Uzbekistan', 'Armenia', 'Tajikistan', 'Turkmenistan', 'Eritrea', 'Bosnia and Herzegovina', 'New Caledonia', 'Aruba', 'Cayman Islands', 'Micronesia, Fed. Sts.', 'West Bank and Gaza', 'Serbia', 'Macao SAR, China', 'Montenegro', 'Montserratit', 'Palau', 'Tuvalu', 'San Marino', 'Timor-Leste', 'Kosovo', 'Marshall Islands', 'Nauru', 'Saint Helena', 'Turks and Caicos Islands', 'Liechtenstein', 'South Sudan', 'British Virgin Islands', 'Martinique']
 ['Apple Inc.', 'Airbnb, Inc.', 'Adobe Inc.', 'Amazon.com, Inc.', 'Berkshire Hathaway Inc. New', 'Walt Disney Company (The)', 'Alphabet Inc.', 'Intel Corporation', 'Johnson & Johnson', 'JP Morgan Chase & Co.', 'Coca-Cola Company (The)', 'MercadoLibre, Inc.', 'Meta Platforms, Inc.', 'Microsoft Corporation', 'Netflix, Inc.', 'NVIDIA Corporation', 'Pepsico, Inc.', 'Procter & Gamble Company (The)', 'Banco Santander, S.A. Sponsored', 'Toyota Motor Corporation', 'Tesla, Inc.', 'Visa Inc.', 'YPF Sociedad Anonima']

c:\Users\matia\OneDrive\Documentos\GitHub\StockMarket\Inflation_impact.py:132: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-40.97' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'GROWTH'] = diff_adj_actual.round(2)
c:\Users\matia\OneDrive\Documentos\GitHub\StockMarket\Inflation_impact.py:135: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.09' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'real_price_adj'] = real_actual_price.round(3)
c:\Users\matia\OneDrive\Documentos\GitHub\StockMarket\Inflation_impact.py:136: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10.33' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'inflation'] = inflation
c:\Users\matia\OneDrive\Documentos\GitHub\StockMarket\Inflation_impact.py:137: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.168' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'last_price_adj_inflation'] = last_price_adj_inflation.round(3)
c:\Users\matia\OneDrive\Documentos\GitHub\StockMarket\Inflation_impact.py:132: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '116.48' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'GROWTH'] = diff_adj_actual.round(2)
c:\Users\matia\OneDrive\Documentos\GitHub\StockMarket\Inflation_impact.py:135: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.364' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'real_price_adj'] = real_actual_price.round(3)
c:\Users\matia\OneDrive\Documentos\GitHub\StockMarket\Inflation_impact.py:136: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.66' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'inflation'] = inflation
c:\Users\matia\OneDrive\Documentos\GitHub\StockMarket\Inflation_impact.py:137: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.174' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  prices.loc[prices['year'] == year, 'last_price_adj_inflation'] = last_price_adj_inflation.round(3)

In [ ]:
'''
api_key = "NEOCHK2773K0PUAR"

ticker = input("Write the ticker: ")

url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={ticker}&apikey={api_key}"

response = requests.get(url)
company_info = response.json()
company_info
'''

'\napi_key = "NEOCHK2773K0PUAR"\n\nticker = input("Write the ticker: ")\n\nurl = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={ticker}&apikey={api_key}"\n\nresponse = requests.get(url)\ncompany_info = response.json()\ncompany_info\n'

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['AAPL']: JSONDecodeError('Expecting value: line 1 column 1 (char 0)')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []